.array {
    font: 10px sans-serif;
    background-color: rgb(247, 144, 161);
    text-align: right;
    margin: 1px;
    color: white;
}

#container {
    height: 80%;
    margin-left: 0;
    margin-top: 1vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(50, 1fr);
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vmin;
}

#legend {
    border: 2px solid black;
    height: fit-content;
    margin-right: 5px;
}

@media (max-width: 999px) {
   #grid {
       height: 90vh;
       grid-template-columns: none;
       grid-template-rows: 60%;
   }
}